/* 中间内容 */
.middleImg{
	width:100%;
}
.middleImg img{
	width:100%;
	height:228px;
}
.middleContent{
	width:65%;
	margin:0 auto;
	min-width:900px;
	/* border:1px solid red; */
	
	margin-bottom:50px;
}
.middleLeftContent{
	    display: inline-block;
    vertical-align: top;
     margin-right:4%;
    width:24%;
}
.middleLeftContent{
	_zoom:1;
	*display:inline;
}

.company{
	border: 1px solid transparent;
    width: 99%;
    text-align: center;
    margin-top: -35px;
    background: #fb7a02;
    color: white;
}
.companyIntrocuction{
	margin-top: 70px;
    font-size: 25px;
}
.companyElish{
	font-size:13px;
}
.linkJWJ{
	text-align: center;
    border: 1px solid #bebebe;
    /* box-sizing: border-box; */
    padding: 8px 0;
    margin-top: -1px;
    font-size:15px;
}
.linkJWJ a{
	color:#666666;
}
.middleRightContent{
	width: 70%;
    /* border: 1px solid; */
    display:inline-block;
}
.middleRightContent{
	_zoom:1;
	*display:inline;
}
.localtionInfo{
	color:#a0a0a0;
	padding: 50px 0 5px 0;
    border-bottom: 1px solid #eeeeee;
}
.excisesList{
	
	margin-top:40px;
}
.excisesContent{
	display:inline-block;
	text-align:center;
	width: 100px;
    /* height: 120px; */
    /* border: 1px solid red; */
    margin-right: 40px;
    vertical-align: top;
    margin-bottom: 15px;
}
.excisesContent{
	_zoom:1;
	*display:inline;
}
.excisesContent img{
	border:0 none;
}
.textImg{
	width:61px;
	height:71px;
}
.textTitle{
	font-size:12px;
}
.textTitle a{
	color:#666666;
}
.selectedColor{
	color:#fb7a02 !important;
}
@media screen and (min-width: 100px) and (max-width: 1440px){
	.company{
		height:160px;
	}
}
@media screen and (min-width: 1441px) and (max-width: 1920px){
	.company{
		height:200px;
	}
}