/* 中间内容 */
.middleImg{
	width:100%;
}
.middleImg img{
	width:100%;
	height:228px;
}
.middleContent{
	width:65%;
	min-width:900px;
	margin:0 auto;
	/* border:1px solid red; */
}
.loaction{
	color:#a0a0a0;
	/* margin-bottom: 40px; */
}
.loaction a{
	color:#a0a0a0;
}
/* 华为培训类认证 */

.traingAttestation{
	width:100%;
}
.traingAttestation img{
	width:100%;
}


.face-to-face{
	width: 300px;
    height: 280px;
    display:inline-block;
}
.face-to-face{
	_zoom:1;
	*display:inline;
}
.attestationContent{
	width:510px;
	display:inline-block;
	margin-left:60px;
}
.attestationContent{
	_zoom:1;
	*display:inline;
}
.attestationTitle{
	font-size:31px;
}
.colorTitle{
	color:#6b6db8;
}
.attestationIntroduce{
	margin:25px 0;
}
.haiwei_Img img{
	width: 145px;
    height: 110px;
}
/* 华为认证类课程培训 */
.huawei_course{
	width:100%;
}
.huawei_course img{
	width:100%;
	height:320px;
	z-index:-1;

}
.courseImg{
	position:relative;
	width:100%;
	z-index:-1;
}
.courseImg img{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:320px;
	z-index:-1;
}
.huiweiCourseIntroduce{
	width:65%;
	min-width:900px;
	margin:0 auto;
	text-align:center;
}
.huaweiCourse{
	font-size:31px;
	color:white;
}
.huaweiCourseColor{
	color:#ffcc00;
}
.courseList{
	color:#ffcc00;
	/* border:1px solid red; */
}
.courseItem{
	width: 80px;
    height: 80px;
    border-radius: 60px;
    border: 2px solid #ffcc00;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    display:inline-block;
    margin-right: 50px;
    margin-left: 65px;
}
.courseItem{
	_zoom:1;
	*display:inline;
}
.courseItem p{
	margin-top:15px;
}
.courseContent{
	color: white;
    font-size: 14px;
    line-height:28px;
    text-align: center;
}
/* 课程特点 */
.courseDetail{
	width:65%;
	min-width:900px;
	margin:0 auto;
	font-size:13px;
	margin-top:25px;
	text-align:center;
}
.courseInfo{
	width:54%;
	margin-top: 50px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
.courseInfo{
	_zoom:1;
	*display:inline;
}
.courseDetailList{
	margin-bottom:10px;
}
.courseTitle,.courseIntroduce{
	display:inline-block;
	color:#666666;
}
.courseTitle,.courseIntroduce{
		_zoom:1;
	*display:inline;
}
.courseTitle{
	color:white;
	background:#6b6db8;
	padding: 0 12px;
    border-radius: 12px;
}
.textTop{
	vertical-align:top;
}
.courseDetail img{
	width:410px;
	height:380px;
	display:inline-block;
}
.courseDetail img{
	_zoom:1;
	*display:inline;
}
@media screen and (min-width: 100px) and (max-width: 1440px){
	.traingAttestation{
		height:340px;
	}
	.traingAttestation img{
		height:340px;
	}
	.huawei_course,.courseImg img{
		height:320px;
	}
	.huaweiCourse{
		padding:50px 0 30px 0;
	}
	.courseList{
	    margin-bottom:20px;
		/* border:1px solid red; */
	}
}
@media screen and (min-width: 1441px) and (max-width: 1920px){
	
	.traingAttestation{
		height:415px;
	}
	.traingAttestation img{
		height:415px;
	}
	.huawei_course,.courseImg img{
		height:380px;

	}
	.huaweiCourse{
		padding:60px 0 49px 0;
	}
	.courseList{
	    margin-bottom:30px;
		/* border:1px solid red; */
	}
}